<!doctype html>
<html>
<head>
    <title>Momma Knows Pizza</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme-default.css">
    <link rel="stylesheet" href="style.css">
</head>
<body data-_id=<%= user._id %>>

    <header class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </header>
    <% if (user.local.email) { %>
    <main>
        <h2>Customize Your Pizza!</h2>
        <div class="pizza-display">
        </div>
        <section class="pizza-buttons">
            <div class="button-panel">
                <label><input id="topping-1" type="checkbox" /> Pepperoni</label>
                <label><input id="topping-2" type="checkbox" /> Mushrooms</label>
                <label><input id="topping-3" type="checkbox" /> Pineapple</label>
                <label><input id="topping-4" type="checkbox" /> Anchovies</label>
                <button id="order-button"  class="false-shadow line-shadow clickable">Order!</button>
            </div>        
        </section>
        <section class="past-orders">
            <div data-index="0" class="pizza-display past-order"></div>
            <div data-index="1" class="pizza-display past-order"></div>
            <div data-index="2" class="pizza-display past-order"></div>
        </section>
        <div class="order-message"><span>Your pizza is on its way!</span></div>
    </main>
    <% } %>


<script src="main.js"></script>

</body>
</html>
